<ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected>
        <a routerLink="/">
      <span nz-icon nzType="mail"></span>
      Home
      </a>
    </li>
    <li nz-menu-item>
        <a routerLink="/form-artisan">
        <span nz-icon nzType="appstore"></span>
        Formulaire artisan
        </a>
    </li>
    <li nz-menu-item>
        <a routerLink="/form-particulier">
            <span nz-icon nzType="appstore"></span>
            Formulaire particulier
        </a>
      </li>
   
  </ul>
<router-outlet></router-outlet>